.cardList {
    margin-bottom: 60px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    max-width: 100%;
}

.cardList a {
    text-decoration: none;
}