nav {
	background-color: #544ec6;
    padding: 0 30px;
    border-radius: 0 0 20px 20px;

    display: flex;
    justify-content: space-between;
	align-items: center;
}

.nav {
    font-family: "Poppins";
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0;
}

.centre li {
    margin: 0 20px;
}

.nav-icon_menu {
    margin: 0 20px; 
}

.nav-icon_search {
    margin-left: 0;
    margin-right: 20px
}

.nav-icon_toggle {
    margin-right: 0;
    margin-left: 20px;
}

.centre {
    justify-content: center;
}

.nav span {
    cursor: pointer;
}

.nav a {
    text-decoration: none;
    color: #f2f2f2;
    font-weight: bold;
}