h2 {
	font-family: "Poppins";
	font-size: 36px;

	margin-bottom: 15px;
}

.jobTitle {
	font-size: 24px;
	font-weight: 500;
	color: rgba(34, 34, 34, 0.5);

	margin-bottom: 25px;
	margin-top: 0px;
}

.jobTitle,
.back, .interests_item,
p {
	font-family: "Avenir";
}

.profile_wrapper,
.back {
	margin: 60px 100px 0px;
	max-width: 900px;
	display: flex;
	overflow-x: hidden;
}

.back {
	display: flex;
	align-items: center;
}

.back img {
	margin-right: 15px;
}

.back a {
    color: rgba(34, 34, 34, 0.5);
    text-decoration: none;
}

.profileImg-LG {
	height: 400px;
	width: 300px;
	border-radius: 40px;

	object-fit: cover;
	object-position: 30% 50%;
}

.flag_wrapper-LG {
	width: 50px;
	height: 50px;
	background-color: #f2f2f2;
	border-radius: 100%;
	position: relative;
	top: -70px;
	left: 230px;
}

.flag-LG {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto auto;
}

.description {
	margin-bottom: 30px;
	margin-top: 0px;
}

.profileImg_section {
	margin-right: 50px;
}

.profileDesc_section {
	display: flex;
	flex-direction: column;

	margin-left: 50px;
}

.interests_item {
	display: inline-block;
	padding: 5px 15px;
	margin-right: 7.5px;
	margin-bottom: 10px;
	line-height: 35px;
	background-color: #e6e6e6;
	border-radius: 5px;

	color: rgba(34, 34, 34, 0.5);
}

.info {
	margin-top: -20px;
    margin-left: 100px;
    margin-bottom: 60px;
}

.linkImg_wrapper {
	width: 40px;
	height: 40px;
	background-color: #f2f2f2;
	border-radius: 10px;
	position: relative;
}

.linkImg {
	height: 20px;
	width: 20px;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto auto;
}

.info ul {
	padding: 0px;
}

.info ul li {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 5px;
}

.info ul li p {
	margin-left: 30px;
	color: rgba(34, 34, 34, 0.5);
}

@media screen and (max-width: 1000px) {
	.profile_wrapper,
	.info,
	.back {
		margin: 60px 33px 0px;
	}

	.profile_wrapper {
		flex-direction: column;
	}

	.profileImg_section {
		margin: 0 auto;
	}

	.profileImg-LG {
		width: 300px;
		height: 300px;
		border-radius: 100%;
	}

	.flag_wrapper {
	}

	.profileDesc_section {
		margin-left: 0px;
		margin-bottom: 10px;
		margin-top: -40px;
	}

	.info {
		margin-top: 10px;
		margin-left: 33px;
	}
}
