body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* *, *:before, *:after {
  box-sizing: border-box;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Wrapper for body margin */

.header_wrapper, .card-list {
  margin: 60px 100px 0px;
  max-width: 900px;
  overflow: visible;
}
